body{
	font-family: "Cormorant Garamond", serif;
	/*flex-direction: row;
	display: flex;*/
}

main{
	font-size: 4.5em;
	font-weight: normal; 
	color: black;
	/*background: black;*/
}

h1{
	color: blue;
}

h3{
	color: blue;
	text-align: center;
}

h4{
	font-weight: normal;
}

#background{
	min-width: 50%;
	text-align: center;
	flex: 1;
	box: border-box;
}

.opener{
	margin-top: 35px;
	text-align: left;
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;
}

.footer{
	text-align: center;
}

.contrast{
	/*padding: .5rem;*/
	flex: 1;
	min-width: 25%;
	box: border-box;
	text-align: left;
	/*border: 1px solid black;*/
}

.contrast>*{
	padding: 1rem;
	flex: 1;
	width: 200px
	box: border-box;
	flex-direction: column;
	display: flex;
}

#author{
	font-size: 1.75em;
	color: black;
}

#column{
	display: flex;
	flex-direction: row;
}

#background{
	min-width: 50%;
	text-align: center;
	flex: 1;
	box: border-box;
}

footer{
	color: black;
}

a:visited{
	color: black;
}

a:hover{
	color: blue;
}

@media screen and (max-width: 800px){
	h1{
		font-size: 25vw;
	}
}
/*
.bigcolumn{
	display: flex;
	flex-direction: row;
}
*/

/*
p{
	font-size: 1.25em;
	font-weight: normal;
	max-width: 600px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
*/

/*
#rectangle{
	width: auto;
	height: 300px;
	background: black;
}*/