body{
	font-family: helvetica, sans-serif;
	background: #c9c9ba;
}

h1{
	margin-bottom: -.75em;
}

p{
	margin-bottom: -.75em;
}

.text{
	width: 400px;
}

.bigtext{
	margin-top: 15em;
}

.smalltext{
	margin-top: 5em;
}

.circles{
	display: grid;
	grid-template-columns: 1/3fr 1/3fr 1/3fr;
	grid-template-rows: 1/3fr 1/3fr 1/3fr; 
}

.redcircle{
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background: #9b7b6d;
	right: 50px;
	z-index: 0;
	grid-row-start: 1;
	grid-row-end: 4;
	transition: all 1s ease-in;
}

.redcircle:hover{
	background: blue;
	border-radius: 0%;
}


.bluecircle{
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background: #5573a2;
	z-index: 10;
	filter: opacity(40%);
}
