body{
	background: tomato;
	font-color: white;
}

.button1{
	font-family: NowAltMedium, sans-serif;
	width: 10vw;
	height: 5vw;
	border: .25vw solid white;
	text-align: center;
	font-size: 1.5vw;
}

.about_box{
	text-align: center;
	width: 40vw;
	height: 35vw;
	border: .25vw solid white;
}

.about_text, .instructions_text{
	font-style: normal;
	padding-right: 2em;
	padding-left: 2em;
	padding-bottom: 2em;
	font-size: 1.5vw;
	margin-bottom: 1em;
}

.credit{
	color: white;
	font-family: NowAltLight, sans-serif;
	font-size: 1vw;
	margin-bottom: -1em;
	width: 25vw;
	margin-right: auto;
	margin-left: auto;

}

.audio{
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}
#about, #instructions{
	display: flex;
	justify-content: center;
	font-family: NowAltRegular, sans-serif;
	color: white;
}

#enter_button{
	display: flex;
	justify-content: center;
}

#title{
	font-family: NowAltBold, sans-serif;
	font-style: italic;
	color: white;
	font-size: 5vw;
	text-align: center;
}

#subtitle{
	font-size: 1.75vw;
	color: white;
	font-family: NowAltRegular, sans-serif;
	text-align: center;
	margin-top: -2em;
	margin-bottom: 3em;
}

#about_title, .instructions_title{
	font-style: italic;
	font-size: 1.75vw;
	text-align: center;
}

#button2{
	width: 150px;
	height: 150px;
	border-radius: 10%;
	background: white;
	text-align: center;
	font-family: NowAltMedium, sans-serif;
	color: tomato;
	margin-top: auto;
	margin-bottom: auto;
	font-size: 2em;
}

#button2:hover{
	background: tomato;
}

#instructions{
	display: flex;
	justify-content: center;
}

#instructions_box{
	width: 40vw;
	height: 15vw;
	border: .25vw solid white;
}

p{
	color: white;
}

a{
  text-decoration: none;
  color: #ffffff;
  
  transition: color 0.3s ease;
}

a:hover{
  color: #ffffff;
  font-style: italic;
}

#menuToggle{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}

#menuToggle span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #ffffff;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #ffffff;
}


#menuToggle input:checked ~ span:nth-last-child(3){
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2){
  transform: rotate(-45deg) translate(0, -1px);
}

#menu{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  /*padding: 50px;*/
  padding-top: 125px;
  font-family: NowAltRegular, sans-serif;
  
  background: tomato;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul{
  transform: none;
}